header {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space between header items */
  background-color: #007b7f;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  display: flex;
  align-items: center;
  margin: 0;
}

header h1 svg {
  margin-left: 8px;
}

header h2.user {
  font-size: 1em;
  color: #ffffff;

  text-align: right;
}
header .button-container {
  display: block;
  justify-content: right;
  text-align: right;
  margin-top: 20px;
}
