.auth-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .auth-content {
    flex: 1;
    padding: 0px;
    margin-bottom: 60px;
  }
  
  .auth-forms-container {
    margin-bottom: 20px;
  }
  
  .auth-messages {
    position: relative;
    margin-top: 20px;
  }